{% macro render_post(post) %}

 <div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ post.datetime | dateformat("%d/%m/%y") }}
            </li>
            <li> by - {{ post.author.name }}</li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
            <a href="{{ url_for("view_post", id=post.id)}}">{{ post.title }}</a>
        </h1>
        {{ post.content | safe }}<br />
        <!-- Edit post button that takes user to edit post page -->
        {% if g.user.is_authenticated() %}
            {% if post.author.name == g.user.name %}
            <a href="{{ url_for("edit_post_get", id=post.id) }}"> <button class="btn btn-default">Edit Post</button></a>
            <!-- Delete post button that takes user to delete post page -->
            <a href="{{ url_for("delete_post", id=post.id) }}"><button class="btn btn-default">Delete Post</button> </a>
            {% endif %}
        {% endif %}
    </div>
 </div>

{% endmacro %}